* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent 0, #fff0e8 0, #fff0e8 6.17215%, transparent 6.17215%, transparent 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, transparent 14.70196%, transparent 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, transparent 23.23176%, transparent 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, transparent 31.76157%, transparent 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, transparent 40.29137%, transparent 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, transparent 48.82117%, transparent 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, transparent 57.35098%, transparent 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, transparent 65.88078%, transparent 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, transparent 74.41059%, transparent 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, transparent 82.94039%, transparent 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, transparent 91.4702%, transparent 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, transparent 100.0%));
  background-image: -webkit-linear-gradient(left, transparent 0, #fff0e8 0, #fff0e8 6.17215%, transparent 6.17215%, transparent 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, transparent 14.70196%, transparent 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, transparent 23.23176%, transparent 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, transparent 31.76157%, transparent 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, transparent 40.29137%, transparent 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, transparent 48.82117%, transparent 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, transparent 57.35098%, transparent 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, transparent 65.88078%, transparent 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, transparent 74.41059%, transparent 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, transparent 82.94039%, transparent 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, transparent 91.4702%, transparent 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #fff0e8 0, #fff0e8 6.17215%, transparent 6.17215%, transparent 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, transparent 14.70196%, transparent 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, transparent 23.23176%, transparent 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, transparent 31.76157%, transparent 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, transparent 40.29137%, transparent 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, transparent 48.82117%, transparent 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, transparent 57.35098%, transparent 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, transparent 65.88078%, transparent 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, transparent 74.41059%, transparent 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, transparent 82.94039%, transparent 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, transparent 91.4702%, transparent 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #fff0e8 0, #fff0e8 6.17215%, transparent 6.17215%, transparent 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, transparent 14.70196%, transparent 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, transparent 23.23176%, transparent 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, transparent 31.76157%, transparent 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, transparent 40.29137%, transparent 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, transparent 48.82117%, transparent 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, transparent 57.35098%, transparent 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, transparent 65.88078%, transparent 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, transparent 74.41059%, transparent 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, transparent 82.94039%, transparent 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, transparent 91.4702%, transparent 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #fff0e8 0, #fff0e8 6.17215%, transparent 6.17215%, transparent 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, transparent 14.70196%, transparent 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, transparent 23.23176%, transparent 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, transparent 31.76157%, transparent 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, transparent 40.29137%, transparent 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, transparent 48.82117%, transparent 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, transparent 57.35098%, transparent 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, transparent 65.88078%, transparent 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, transparent 74.41059%, transparent 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, transparent 82.94039%, transparent 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, transparent 91.4702%, transparent 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #fff0e8 0, #fff0e8 6.17215%, transparent 6.17215%, transparent 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, transparent 14.70196%, transparent 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, transparent 23.23176%, transparent 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, transparent 31.76157%, transparent 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, transparent 40.29137%, transparent 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, transparent 48.82117%, transparent 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, transparent 57.35098%, transparent 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, transparent 65.88078%, transparent 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, transparent 74.41059%, transparent 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, transparent 82.94039%, transparent 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, transparent 91.4702%, transparent 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, transparent 100.0%); }
  header div.header-content {
    *zoom: 1;
    max-width: 64em;
    margin-left: auto;
    margin-right: auto; }
    header div.header-content:before, header div.header-content:after {
      content: " ";
      display: table; }
    header div.header-content:after {
      clear: both; }
    header div.header-content div.logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding: 2.46085em; }
      header div.header-content div.logo:last-child {
        margin-right: 0; }
    header div.header-content nav.buttons {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding-top: 4rem;
      padding-bottom: 0; }
      header div.header-content nav.buttons:last-child {
        margin-right: 0; }
      header div.header-content nav.buttons a.button {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 47.58542%;
        margin-left: 0; }
        header div.header-content nav.buttons a.button:last-child {
          margin-right: 0; }
        @media screen and (min-width: 54em) {
          header div.header-content nav.buttons a.button {
            float: left;
            display: block;
            margin-right: 4.82916%;
            width: 30.11389%; }
            header div.header-content nav.buttons a.button:last-child {
              margin-right: 0; }
            header div.header-content nav.buttons a.button.examples {
              margin-left: 34.94305%; } }

section.code {
  padding: 2%; }
  section.code div.highlight pre {
    font-size: 1em; }

section.instructions section {
  *zoom: 1;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto; }
  section.instructions section:before, section.instructions section:after {
    content: " ";
    display: table; }
  section.instructions section:after {
    clear: both; }
  section.instructions section aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    section.instructions section aside:last-child {
      margin-right: 0; }
  section.instructions section article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    border-left: 1px solid #eee; }
    section.instructions section article:last-child {
      margin-right: 0; }
