* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

section {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3em; }
  section:before, section:after {
    content: "";
    display: table; }
  section:after {
    clear: both; }
  section > code, section code.block {
    display: block; }
  section div {
    height: 8.09em;
    line-height: 1.618em;
    text-align: left;
    padding: 1em; }
  section.zero div {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    height: 20em; }
    section.zero div:last-child {
      margin-right: 0; }
  section.first div#alpha, section.first div#zeta {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.first div#alpha:last-child, section.first div#zeta:last-child {
      margin-right: 0; }
  section.first div#beta, section.first div#epsilon {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    section.first div#beta:last-child, section.first div#epsilon:last-child {
      margin-right: 0; }
  section.first div#gamma, section.first div#delta {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    section.first div#gamma:last-child, section.first div#delta:last-child {
      margin-right: 0; }
  section.first div#beta, section.first div#delta {
    margin-right: 0; }
  section.second div {
    height: 20em; }
    section.second div#alpha {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      section.second div#alpha:last-child {
        margin-right: 0; }
    section.second div#beta {
      padding: 0;
      line-height: 3.236em;
      text-align: center;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 65.88078%; }
      section.second div#beta:last-child {
        margin-right: 0; }
      section.second div#beta aside {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 48.21067%;
        height: 84%;
        padding: 1em; }
        section.second div#beta aside:last-child {
          margin-right: 0; }
      section.second div#beta article {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 48.21067%;
        height: 84%;
        padding: 1em; }
        section.second div#beta article:last-child {
          margin-right: 0; }
  section.third div#dummy {
    height: 5.5em;
    text-align: center;
    border-bottom: 0;
    background-color: #ddd; }
  section.third div#alpha {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    zoom: 1;
    display: table;
    padding: 0; }
    section.third div#alpha:last-child {
      margin-right: 0; }
    section.third div#alpha:before, section.third div#alpha:after {
      content: "";
      display: table; }
    section.third div#alpha:after {
      clear: both; }
    section.third div#alpha aside {
      display: table-cell;
      padding-right: 2.35765%;
      width: 34.11922%;
      padding: 2.35765%; }
      section.third div#alpha aside:last-child {
        padding-right: 0; }
    section.third div#alpha article {
      height: 20em;
      display: table-cell;
      padding-right: 2.35765%;
      width: 68.23843%;
      padding: 2.35765%; }
      section.third div#alpha article:last-child {
        padding-right: 0; }
  section.fourth div.one-column {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 6.17215%; }
    section.fourth div.one-column:last-child {
      margin-right: 0; }
    section.fourth div.one-column.last {
      margin-right: 0; }
  section.fourth div#alpha {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
    height: 20em;
    text-align: center; }
    section.fourth div#alpha:last-child {
      margin-right: 0; }
  section.fifth > code {
    margin-bottom: -1.5em; }
  section.fifth div.box {
    font-size: 0.78em;
    margin-top: 2em;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    section.fifth div.box:last-child {
      margin-right: 0; }
    section.fifth div.box:nth-child(4n) {
      margin-right: 0; }

div.code {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 0; }
  div.code:before, div.code:after {
    content: "";
    display: table; }
  div.code:after {
    clear: both; }
