/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../_sass/desktop.scss */
header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, rgba(0, 0, 0, 0) 100.0%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #fff0e8 8.5298%, #fff0e8 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #fff0e8 17.05961%, #fff0e8 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #fff0e8 25.58941%, #fff0e8 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #fff0e8 34.11922%, #fff0e8 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #fff0e8 42.64902%, #fff0e8 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #fff0e8 51.17883%, #fff0e8 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #fff0e8 59.70863%, #fff0e8 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #fff0e8 68.23843%, #fff0e8 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #fff0e8 76.76824%, #fff0e8 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #fff0e8 85.29804%, #fff0e8 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #fff0e8 93.82785%, #fff0e8 100.0%, rgba(0, 0, 0, 0) 100.0%); }
  /* line 11, ../_sass/desktop.scss */
  header div.header-content {
    *zoom: 1;
    max-width: 64em;
    margin-left: auto;
    margin-right: auto; }
    /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
    header div.header-content:before, header div.header-content:after {
      content: " ";
      display: table; }
    /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
    header div.header-content:after {
      clear: both; }
    /* line 14, ../_sass/desktop.scss */
    header div.header-content div.logo {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding: 2.46085em; }
      /* line 54, ../_sass/neat/grid/_span-columns.scss */
      header div.header-content div.logo:last-child {
        margin-right: 0; }
    /* line 19, ../_sass/desktop.scss */
    header div.header-content nav.buttons {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding-top: 4rem;
      padding-bottom: 0; }
      /* line 54, ../_sass/neat/grid/_span-columns.scss */
      header div.header-content nav.buttons:last-child {
        margin-right: 0; }
      /* line 24, ../_sass/desktop.scss */
      header div.header-content nav.buttons a.button {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 47.58542%;
        margin-left: 0; }
        /* line 54, ../_sass/neat/grid/_span-columns.scss */
        header div.header-content nav.buttons a.button:last-child {
          margin-right: 0; }
        @media screen and (min-width: 54em) {
          /* line 24, ../_sass/desktop.scss */
          header div.header-content nav.buttons a.button {
            display: block;
            float: left;
            margin-right: 4.82916%;
            width: 30.11389%; }
            /* line 54, ../_sass/neat/grid/_span-columns.scss */
            header div.header-content nav.buttons a.button:last-child {
              margin-right: 0; }
            /* line 31, ../_sass/desktop.scss */
            header div.header-content nav.buttons a.button.installation {
              margin-left: 34.94305%; } }

/* line 40, ../_sass/desktop.scss */
section.code {
  padding: 2%; }
  /* line 44, ../_sass/desktop.scss */
  section.code div.highlight pre {
    font-size: 1em; }

/* line 53, ../_sass/desktop.scss */
section.instructions section {
  *zoom: 1;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  section.instructions section:before, section.instructions section:after {
    content: " ";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  section.instructions section:after {
    clear: both; }
  /* line 56, ../_sass/desktop.scss */
  section.instructions section aside {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    /* line 54, ../_sass/neat/grid/_span-columns.scss */
    section.instructions section aside:last-child {
      margin-right: 0; }
  /* line 60, ../_sass/desktop.scss */
  section.instructions section article {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%;
    border-left: 1px solid #eeeeee; }
    /* line 54, ../_sass/neat/grid/_span-columns.scss */
    section.instructions section article:last-child {
      margin-right: 0; }
