/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../_sass/_typography.scss */
body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

/* line 6, ../_sass/desktop-example.scss */
section {
  *zoom: 1;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3em; }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  section:before, section:after {
    content: " ";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  section:after {
    clear: both; }
  /* line 11, ../_sass/desktop-example.scss */
  section > code, section code.block {
    display: block; }
  /* line 15, ../_sass/desktop-example.scss */
  section div {
    height: 6.472em;
    line-height: 1.618em;
    text-align: left;
    padding: 1em; }
  /* line 23, ../_sass/desktop-example.scss */
  section.zero div {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    height: 20em; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.zero div:last-child {
      margin-right: 0; }
  /* line 30, ../_sass/desktop-example.scss */
  section.first div#alpha {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 6.17215%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#alpha:last-child {
      margin-right: 0; }
  /* line 34, ../_sass/desktop-example.scss */
  section.first div#beta {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 91.4702%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#beta:last-child {
      margin-right: 0; }
  /* line 38, ../_sass/desktop-example.scss */
  section.first div#gamma {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#gamma:last-child {
      margin-right: 0; }
  /* line 42, ../_sass/desktop-example.scss */
  section.first div#delta {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 82.94039%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#delta:last-child {
      margin-right: 0; }
  /* line 46, ../_sass/desktop-example.scss */
  section.first div#epsilon {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#epsilon:last-child {
      margin-right: 0; }
  /* line 50, ../_sass/desktop-example.scss */
  section.first div#zeta {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#zeta:last-child {
      margin-right: 0; }
  /* line 54, ../_sass/desktop-example.scss */
  section.first div#eta {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#eta:last-child {
      margin-right: 0; }
  /* line 58, ../_sass/desktop-example.scss */
  section.first div#theta {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#theta:last-child {
      margin-right: 0; }
  /* line 62, ../_sass/desktop-example.scss */
  section.first div#iota {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#iota:last-child {
      margin-right: 0; }
  /* line 66, ../_sass/desktop-example.scss */
  section.first div#kappa {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#kappa:last-child {
      margin-right: 0; }
  /* line 70, ../_sass/desktop-example.scss */
  section.first div#lambda {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#lambda:last-child {
      margin-right: 0; }
  /* line 74, ../_sass/desktop-example.scss */
  section.first div#mu {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.first div#mu:last-child {
      margin-right: 0; }
  /* line 78, ../_sass/desktop-example.scss */
  section.first div#beta, section.first div#delta, section.first div#zeta, section.first div#theta, section.first div#kappa, section.first div#mu {
    margin-right: 0; }
  /* line 84, ../_sass/desktop-example.scss */
  section.second div {
    height: 20em; }
    /* line 87, ../_sass/desktop-example.scss */
    section.second div#alpha {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      /* line 76, ../_sass/neat/grid/_grid.scss */
      section.second div#alpha:last-child {
        margin-right: 0; }
    /* line 91, ../_sass/desktop-example.scss */
    section.second div#beta {
      padding: 0;
      line-height: 3.236em;
      text-align: center;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 65.88078%; }
      /* line 76, ../_sass/neat/grid/_grid.scss */
      section.second div#beta:last-child {
        margin-right: 0; }
      /* line 97, ../_sass/desktop-example.scss */
      section.second div#beta aside {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 48.21067%;
        border: none;
        height: 84%;
        padding: 1em; }
        /* line 76, ../_sass/neat/grid/_grid.scss */
        section.second div#beta aside:last-child {
          margin-right: 0; }
      /* line 104, ../_sass/desktop-example.scss */
      section.second div#beta article {
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 48.21067%;
        height: 84%;
        padding: 1em; }
        /* line 76, ../_sass/neat/grid/_grid.scss */
        section.second div#beta article:last-child {
          margin-right: 0; }
  /* line 114, ../_sass/desktop-example.scss */
  section.third div#dummy {
    border-bottom: 0;
    height: 5.5em;
    text-align: center; }
  /* line 120, ../_sass/desktop-example.scss */
  section.third div#alpha {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    *zoom: 1;
    display: table;
    margin-bottom: 0;
    padding: 0; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.third div#alpha:last-child {
      margin-right: 0; }
    /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
    section.third div#alpha:before, section.third div#alpha:after {
      content: " ";
      display: table; }
    /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
    section.third div#alpha:after {
      clear: both; }
    /* line 126, ../_sass/desktop-example.scss */
    section.third div#alpha aside {
      display: table-cell;
      padding-right: 2.35765%;
      width: 34.11922%;
      padding: 2.35765%;
      border-right: 1px solid rgba(255, 255, 255, 0.5); }
      /* line 54, ../_sass/neat/grid/_grid.scss */
      section.third div#alpha aside:last-child {
        width: 31.76157%;
        padding-right: 0; }
    /* line 132, ../_sass/desktop-example.scss */
    section.third div#alpha article {
      height: 20em;
      display: table-cell;
      padding-right: 2.35765%;
      width: 68.23843%;
      padding: 2.35765%; }
      /* line 54, ../_sass/neat/grid/_grid.scss */
      section.third div#alpha article:last-child {
        width: 65.88078%;
        padding-right: 0; }
  /* line 142, ../_sass/desktop-example.scss */
  section.fourth div.one-column {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 6.17215%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.fourth div.one-column:last-child {
      margin-right: 0; }
    /* line 145, ../_sass/desktop-example.scss */
    section.fourth div.one-column.last {
      margin-right: 0; }
  /* line 150, ../_sass/desktop-example.scss */
  section.fourth div#alpha {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
    height: 20em;
    text-align: center; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.fourth div#alpha:last-child {
      margin-right: 0; }
  /* line 159, ../_sass/desktop-example.scss */
  section.fifth div.box {
    font-size: 0.78em;
    height: 8em;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.fifth div.box:last-child {
      margin-right: 0; }
    /* line 24, ../_sass/neat/grid/_omega.scss */
    section.fifth div.box:nth-child(4n) {
      margin-right: 0; }

/* line 169, ../_sass/desktop-example.scss */
div.code {
  *zoom: 1;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  text-align: center; }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  div.code:before, div.code:after {
    content: " ";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  div.code:after {
    clear: both; }
