/*
Syntax error: File to import not found or unreadable: normalize.
              Load paths:
                /Users/reda/Developer/libs/neat
                /Users/reda/Developer/libs/neat/_sass
        on line 2 of _sass/doc-styles.scss

1: @import "bourbon/bourbon";
2: @import "normalize";
3: @import "variables";
4: @import "base";
5: @import "index";
6: @import "navigation";
7: @import "code-highlighting";

Backtrace:
_sass/doc-styles.scss:2
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/import_node.rb:45:in `import'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/tree/root_node.rb:20:in `render'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/engine.rb:315:in `_render'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/engine.rb:262:in `render'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:201:in `each'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/reda/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.6/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: normalize.\A               Load paths:\A                 /Users/reda/Developer/libs/neat\A                 /Users/reda/Developer/libs/neat/_sass\A         on line 2 of _sass/doc-styles.scss\A \A 1: @import \"bourbon/bourbon\";\A 2: @import \"normalize\";\A 3: @import \"variables\";\A 4: @import \"base\";\A 5: @import \"index\";\A 6: @import \"navigation\";\A 7: @import \"code-highlighting\";"; }
