/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../_sass/_typography.scss */
body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

/* line 12, ../_sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

/* line 21, ../_sass/_reset.scss */
html, body {
  font-size: 100%; }

/* line 26, ../_sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 31, ../_sass/_reset.scss */
audio, canvas, video {
  display: inline-block; }

/* line 36, ../_sass/_reset.scss */
audio:not([controls]) {
  display: none; }

/* line 41, ../_sass/_reset.scss */
[hidden] {
  display: none; }

/* line 47, ../_sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 54, ../_sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif; }

/* line 60, ../_sass/_reset.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
/* line 69, ../_sass/_reset.scss */
a:hover, a:active {
  outline: 0; }

/* line 75, ../_sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 80, ../_sass/_reset.scss */
b, strong {
  font-weight: bold; }

/* line 84, ../_sass/_reset.scss */
blockquote {
  margin: 1em 40px; }

/* line 89, ../_sass/_reset.scss */
dfn {
  font-style: italic; }

/* line 94, ../_sass/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 101, ../_sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

/* line 108, ../_sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 115, ../_sass/_reset.scss */
blockquote, q {
  quotes: none; }
  /* line 117, ../_sass/_reset.scss */
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

/* line 123, ../_sass/_reset.scss */
small {
  font-size: 75%; }

/* line 127, ../_sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 134, ../_sass/_reset.scss */
sup {
  top: -0.5em; }

/* line 138, ../_sass/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 143, ../_sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* line 150, ../_sass/_reset.scss */
img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

/* line 158, ../_sass/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 163, ../_sass/_reset.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 169, ../_sass/_reset.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal; }

/* line 175, ../_sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

/* line 182, ../_sass/_reset.scss */
button, input {
  line-height: normal; }

/* line 186, ../_sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 192, ../_sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 196, ../_sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 201, ../_sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 209, ../_sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 215, ../_sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 220, ../_sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 226, ../_sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 4, ../_sass/_pygments.scss */
.highlight {
  color: #657b83;
  background-color: #fdf6e3; }

/* line 5, ../_sass/_pygments.scss */
.highlight .err {
  color: #dc322f;
  background-color: #eee8d5; }

/* line 6, ../_sass/_pygments.scss */
.highlight .cp {
  color: #93a1a1;
  font-weight: bold; }

/* line 7, ../_sass/_pygments.scss */
.highlight .cs {
  color: #93a1a1;
  font-weight: bold;
  font-style: italic; }

/* line 8, ../_sass/_pygments.scss */
.highlight .gd {
  background-color: #fdd; }

/* line 9, ../_sass/_pygments.scss */
.highlight .gd .x {
  background-color: #faa; }

/* line 10, ../_sass/_pygments.scss */
.highlight .ge {
  font-style: italic; }

/* line 11, ../_sass/_pygments.scss */
.highlight .gi {
  background-color: #dfd; }

/* line 12, ../_sass/_pygments.scss */
.highlight .gi .x {
  background-color: #afa; }

/* line 13, ../_sass/_pygments.scss */
.highlight .go {
  color: #657b83; }

/* line 14, ../_sass/_pygments.scss */
.highlight .gu {
  color: #d33682;
  font-weight: bold; }

/* line 15, ../_sass/_pygments.scss */
.highlight .gs {
  font-weight: bold; }

/* line 16, ../_sass/_pygments.scss */
.highlight .gr, .highlight .gt {
  color: #d33682; }

/* line 17, ../_sass/_pygments.scss */
.highlight .gh {
  color: #93a1a1; }

/* line 18, ../_sass/_pygments.scss */
.highlight .gp {
  color: #93a1a1; }

/* line 19, ../_sass/_pygments.scss */
.highlight .nb {
  color: #859900; }

/* line 20, ../_sass/_pygments.scss */
.highlight .ni {
  color: #d33682; }

/* line 21, ../_sass/_pygments.scss */
.highlight .nt {
  color: #268bd2; }

/* line 22, ../_sass/_pygments.scss */
.highlight .w {
  color: #93a1a1; }

/* line 23, ../_sass/_pygments.scss */
.highlight .sr {
  color: #859900; }

/* line 24, ../_sass/_pygments.scss */
.highlight .ss {
  color: #2aa198; }

/* line 25, ../_sass/_pygments.scss */
.highlight .c, .highlight .cm, .highlight .c1 {
  color: #93a1a1;
  font-style: italic; }

/* line 26, ../_sass/_pygments.scss */
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow {
  font-weight: bold; }

/* line 27, ../_sass/_pygments.scss */
.highlight .k {
  color: #859900; }

/* line 28, ../_sass/_pygments.scss */
.highlight .kt {
  color: #b58900; }

/* line 29, ../_sass/_pygments.scss */
.highlight .bp {
  color: #586e75; }

/* line 30, ../_sass/_pygments.scss */
.highlight .nn {
  color: #586e75; }

/* line 31, ../_sass/_pygments.scss */
.highlight .nc {
  color: #b58900;
  font-weight: bold; }

/* line 32, ../_sass/_pygments.scss */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198; }

/* line 33, ../_sass/_pygments.scss */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198; }

/* line 34, ../_sass/_pygments.scss */
.highlight .na, .highlight .nv {
  color: #2aa198; }

/* line 35, ../_sass/_pygments.scss */
.highlight .no {
  color: #b58900; }

/* line 36, ../_sass/_pygments.scss */
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2; }

/* line 37, ../_sass/_pygments.scss */
.highlight .ne, .highlight .nf {
  color: #dc322f;
  font-weight: bold; }

/* line 8, ../_sass/mobile.scss */
p {
  margin-bottom: 1em; }

/* line 12, ../_sass/mobile.scss */
h1, h2, h3, h4 {
  margin-bottom: 0.8em; }

/* line 16, ../_sass/mobile.scss */
a {
  text-decoration: none;
  color: #6DBCE6; }

/* line 22, ../_sass/mobile.scss */
header {
  *zoom: 1;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #fff0e8 26.85574%, #fff0e8 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #fff0e8 53.71149%, #fff0e8 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #fff0e8 80.56723%, #fff0e8 100%, rgba(0, 0, 0, 0) 100%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #fff0e8 26.85574%, #fff0e8 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #fff0e8 53.71149%, #fff0e8 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #fff0e8 80.56723%, #fff0e8 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #fff0e8 26.85574%, #fff0e8 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #fff0e8 53.71149%, #fff0e8 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #fff0e8 80.56723%, #fff0e8 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #fff0e8 26.85574%, #fff0e8 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #fff0e8 53.71149%, #fff0e8 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #fff0e8 80.56723%, #fff0e8 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #fff0e8 26.85574%, #fff0e8 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #fff0e8 53.71149%, #fff0e8 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #fff0e8 80.56723%, #fff0e8 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #fff0e8 0, #fff0e8 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #fff0e8 26.85574%, #fff0e8 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #fff0e8 53.71149%, #fff0e8 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #fff0e8 80.56723%, #fff0e8 100%, rgba(0, 0, 0, 0) 100%); }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  header:before, header:after {
    content: " ";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  header:after {
    clear: both; }
  /* line 28, ../_sass/mobile.scss */
  header div.header-content div.logo {
    padding: 1.618em;
    color: #41a8df;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left; }
    /* line 34, ../_sass/mobile.scss */
    header div.header-content div.logo a > img {
      width: 286px; }
  /* line 39, ../_sass/mobile.scss */
  header div.header-content nav.buttons {
    padding: 1.5rem 0;
    *zoom: 1;
    display: block; }
    /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
    header div.header-content nav.buttons:before, header div.header-content nav.buttons:after {
      content: " ";
      display: table; }
    /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
    header div.header-content nav.buttons:after {
      clear: both; }
    /* line 44, ../_sass/mobile.scss */
    header div.header-content nav.buttons a.button {
      border-radius: 5px;
      box-shadow: inset 0px 1px rgba(255, 255, 255, 0.4);
      padding: 15px 0;
      font-size: .875rem;
      font-weight: 200;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 46.28851%;
      margin-left: 26.85574%; }
      /* line 54, ../_sass/neat/grid/_span-columns.scss */
      header div.header-content nav.buttons a.button:last-child {
        margin-right: 0; }
      /* line 56, ../_sass/mobile.scss */
      header div.header-content nav.buttons a.button:hover {
        text-decoration: none; }
      /* line 60, ../_sass/mobile.scss */
      header div.header-content nav.buttons a.button:active {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s; }
      /* line 65, ../_sass/mobile.scss */
      header div.header-content nav.buttons a.button.installation {
        background-color: #53aee0;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #53aee0), color-stop(100%, #289ad8));
        background-image: -webkit-linear-gradient(top, #53aee0, #289ad8);
        background-image: -moz-linear-gradient(top, #53aee0, #289ad8);
        background-image: -ms-linear-gradient(top, #53aee0, #289ad8);
        background-image: -o-linear-gradient(top, #53aee0, #289ad8);
        background-image: linear-gradient(top, #53aee0, #289ad8);
        border: 1px solid #185d82;
        color: #FFF;
        text-shadow: 0px -1px #185d82;
        margin-bottom: 10px; }
        /* line 72, ../_sass/mobile.scss */
        header div.header-content nav.buttons a.button.installation:hover {
          background-color: #69b8e4;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69b8e4), color-stop(100%, #3da4dc));
          background-image: -webkit-linear-gradient(top, #69b8e4, #3da4dc);
          background-image: -moz-linear-gradient(top, #69b8e4, #3da4dc);
          background-image: -ms-linear-gradient(top, #69b8e4, #3da4dc);
          background-image: -o-linear-gradient(top, #69b8e4, #3da4dc);
          background-image: linear-gradient(top, #69b8e4, #3da4dc); }
      /* line 77, ../_sass/mobile.scss */
      header div.header-content nav.buttons a.button.docs {
        background-color: #f99d8b;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f99d8b), color-stop(100%, #f66042));
        background-image: -webkit-linear-gradient(top, #f99d8b, #f66042);
        background-image: -moz-linear-gradient(top, #f99d8b, #f66042);
        background-image: -ms-linear-gradient(top, #f99d8b, #f66042);
        background-image: -o-linear-gradient(top, #f99d8b, #f66042);
        background-image: linear-gradient(top, #f99d8b, #f66042);
        border: 1px solid #c8290a;
        color: #FFF;
        text-shadow: 0px -1px #981f07; }
        /* line 83, ../_sass/mobile.scss */
        header div.header-content nav.buttons a.button.docs:hover {
          background-color: #faa695;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faa695), color-stop(100%, #f7745a));
          background-image: -webkit-linear-gradient(top, #faa695, #f7745a);
          background-image: -moz-linear-gradient(top, #faa695, #f7745a);
          background-image: -ms-linear-gradient(top, #faa695, #f7745a);
          background-image: -o-linear-gradient(top, #faa695, #f7745a);
          background-image: linear-gradient(top, #faa695, #f7745a); }

/* line 94, ../_sass/mobile.scss */
section.code {
  background-color: #FDF6E3;
  padding: 5%; }
  /* line 98, ../_sass/mobile.scss */
  section.code div.highlight {
    background-color: transparent; }
    /* line 101, ../_sass/mobile.scss */
    section.code div.highlight pre {
      *zoom: 1;
      max-width: 64em;
      margin-left: auto;
      margin-right: auto;
      font-size: 0.8em; }
      /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
      section.code div.highlight pre:before, section.code div.highlight pre:after {
        content: " ";
        display: table; }
      /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
      section.code div.highlight pre:after {
        clear: both; }

/* line 110, ../_sass/mobile.scss */
section.instructions section {
  margin-top: 1em;
  border-top: 1px solid #eeeeee; }
  /* line 114, ../_sass/mobile.scss */
  section.instructions section#what {
    margin-top: 0em;
    border-top: none; }
    /* line 118, ../_sass/mobile.scss */
    section.instructions section#what aside, section.instructions section#what article {
      padding-top: 2em; }
  /* line 123, ../_sass/mobile.scss */
  section.instructions section aside {
    padding: 0.8em 1em 0.1em; }
    /* line 126, ../_sass/mobile.scss */
    section.instructions section aside h3 {
      color: #e85100;
      font-family: "Helvetica Neue", "helvetica", sans-serif;
      font-weight: 200;
      margin-bottom: 0; }
  /* line 134, ../_sass/mobile.scss */
  section.instructions section article {
    padding: 1em;
    color: #555; }

/* line 141, ../_sass/mobile.scss */
footer {
  border-top: 1px solid #eeeeee;
  color: #ccc;
  padding: 2em;
  text-align: center; }
