/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, ../_sass/neat/grid/_visual-grid.scss */
body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #e6f6ff 8.5298%, #e6f6ff 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #e6f6ff 17.05961%, #e6f6ff 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #e6f6ff 25.58941%, #e6f6ff 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #e6f6ff 34.11922%, #e6f6ff 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #e6f6ff 42.64902%, #e6f6ff 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #e6f6ff 51.17883%, #e6f6ff 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #e6f6ff 59.70863%, #e6f6ff 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #e6f6ff 68.23843%, #e6f6ff 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #e6f6ff 76.76824%, #e6f6ff 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #e6f6ff 85.29804%, #e6f6ff 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #e6f6ff 93.82785%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #e6f6ff 8.5298%, #e6f6ff 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #e6f6ff 17.05961%, #e6f6ff 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #e6f6ff 25.58941%, #e6f6ff 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #e6f6ff 34.11922%, #e6f6ff 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #e6f6ff 42.64902%, #e6f6ff 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #e6f6ff 51.17883%, #e6f6ff 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #e6f6ff 59.70863%, #e6f6ff 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #e6f6ff 68.23843%, #e6f6ff 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #e6f6ff 76.76824%, #e6f6ff 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #e6f6ff 85.29804%, #e6f6ff 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #e6f6ff 93.82785%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #e6f6ff 8.5298%, #e6f6ff 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #e6f6ff 17.05961%, #e6f6ff 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #e6f6ff 25.58941%, #e6f6ff 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #e6f6ff 34.11922%, #e6f6ff 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #e6f6ff 42.64902%, #e6f6ff 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #e6f6ff 51.17883%, #e6f6ff 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #e6f6ff 59.70863%, #e6f6ff 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #e6f6ff 68.23843%, #e6f6ff 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #e6f6ff 76.76824%, #e6f6ff 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #e6f6ff 85.29804%, #e6f6ff 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #e6f6ff 93.82785%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #e6f6ff 8.5298%, #e6f6ff 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #e6f6ff 17.05961%, #e6f6ff 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #e6f6ff 25.58941%, #e6f6ff 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #e6f6ff 34.11922%, #e6f6ff 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #e6f6ff 42.64902%, #e6f6ff 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #e6f6ff 51.17883%, #e6f6ff 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #e6f6ff 59.70863%, #e6f6ff 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #e6f6ff 68.23843%, #e6f6ff 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #e6f6ff 76.76824%, #e6f6ff 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #e6f6ff 85.29804%, #e6f6ff 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #e6f6ff 93.82785%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #e6f6ff 8.5298%, #e6f6ff 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #e6f6ff 17.05961%, #e6f6ff 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #e6f6ff 25.58941%, #e6f6ff 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #e6f6ff 34.11922%, #e6f6ff 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #e6f6ff 42.64902%, #e6f6ff 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #e6f6ff 51.17883%, #e6f6ff 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #e6f6ff 59.70863%, #e6f6ff 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #e6f6ff 68.23843%, #e6f6ff 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #e6f6ff 76.76824%, #e6f6ff 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #e6f6ff 85.29804%, #e6f6ff 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #e6f6ff 93.82785%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #e6f6ff 8.5298%, #e6f6ff 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #e6f6ff 17.05961%, #e6f6ff 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #e6f6ff 25.58941%, #e6f6ff 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #e6f6ff 34.11922%, #e6f6ff 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #e6f6ff 42.64902%, #e6f6ff 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #e6f6ff 51.17883%, #e6f6ff 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #e6f6ff 59.70863%, #e6f6ff 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #e6f6ff 68.23843%, #e6f6ff 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #e6f6ff 76.76824%, #e6f6ff 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #e6f6ff 85.29804%, #e6f6ff 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #e6f6ff 93.82785%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 64em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 500px) {
    /* line 11, ../_sass/neat/grid/_visual-grid.scss */
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 12.64237%, rgba(0, 0, 0, 0) 12.64237%, rgba(0, 0, 0, 0) 17.47153%, #e6f6ff 17.47153%, #e6f6ff 30.11389%, rgba(0, 0, 0, 0) 30.11389%, rgba(0, 0, 0, 0) 34.94305%, #e6f6ff 34.94305%, #e6f6ff 47.58542%, rgba(0, 0, 0, 0) 47.58542%, rgba(0, 0, 0, 0) 52.41458%, #e6f6ff 52.41458%, #e6f6ff 65.05695%, rgba(0, 0, 0, 0) 65.05695%, rgba(0, 0, 0, 0) 69.88611%, #e6f6ff 69.88611%, #e6f6ff 82.52847%, rgba(0, 0, 0, 0) 82.52847%, rgba(0, 0, 0, 0) 87.35763%, #e6f6ff 87.35763%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 12.64237%, rgba(0, 0, 0, 0) 12.64237%, rgba(0, 0, 0, 0) 17.47153%, #e6f6ff 17.47153%, #e6f6ff 30.11389%, rgba(0, 0, 0, 0) 30.11389%, rgba(0, 0, 0, 0) 34.94305%, #e6f6ff 34.94305%, #e6f6ff 47.58542%, rgba(0, 0, 0, 0) 47.58542%, rgba(0, 0, 0, 0) 52.41458%, #e6f6ff 52.41458%, #e6f6ff 65.05695%, rgba(0, 0, 0, 0) 65.05695%, rgba(0, 0, 0, 0) 69.88611%, #e6f6ff 69.88611%, #e6f6ff 82.52847%, rgba(0, 0, 0, 0) 82.52847%, rgba(0, 0, 0, 0) 87.35763%, #e6f6ff 87.35763%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 12.64237%, rgba(0, 0, 0, 0) 12.64237%, rgba(0, 0, 0, 0) 17.47153%, #e6f6ff 17.47153%, #e6f6ff 30.11389%, rgba(0, 0, 0, 0) 30.11389%, rgba(0, 0, 0, 0) 34.94305%, #e6f6ff 34.94305%, #e6f6ff 47.58542%, rgba(0, 0, 0, 0) 47.58542%, rgba(0, 0, 0, 0) 52.41458%, #e6f6ff 52.41458%, #e6f6ff 65.05695%, rgba(0, 0, 0, 0) 65.05695%, rgba(0, 0, 0, 0) 69.88611%, #e6f6ff 69.88611%, #e6f6ff 82.52847%, rgba(0, 0, 0, 0) 82.52847%, rgba(0, 0, 0, 0) 87.35763%, #e6f6ff 87.35763%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 12.64237%, rgba(0, 0, 0, 0) 12.64237%, rgba(0, 0, 0, 0) 17.47153%, #e6f6ff 17.47153%, #e6f6ff 30.11389%, rgba(0, 0, 0, 0) 30.11389%, rgba(0, 0, 0, 0) 34.94305%, #e6f6ff 34.94305%, #e6f6ff 47.58542%, rgba(0, 0, 0, 0) 47.58542%, rgba(0, 0, 0, 0) 52.41458%, #e6f6ff 52.41458%, #e6f6ff 65.05695%, rgba(0, 0, 0, 0) 65.05695%, rgba(0, 0, 0, 0) 69.88611%, #e6f6ff 69.88611%, #e6f6ff 82.52847%, rgba(0, 0, 0, 0) 82.52847%, rgba(0, 0, 0, 0) 87.35763%, #e6f6ff 87.35763%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 12.64237%, rgba(0, 0, 0, 0) 12.64237%, rgba(0, 0, 0, 0) 17.47153%, #e6f6ff 17.47153%, #e6f6ff 30.11389%, rgba(0, 0, 0, 0) 30.11389%, rgba(0, 0, 0, 0) 34.94305%, #e6f6ff 34.94305%, #e6f6ff 47.58542%, rgba(0, 0, 0, 0) 47.58542%, rgba(0, 0, 0, 0) 52.41458%, #e6f6ff 52.41458%, #e6f6ff 65.05695%, rgba(0, 0, 0, 0) 65.05695%, rgba(0, 0, 0, 0) 69.88611%, #e6f6ff 69.88611%, #e6f6ff 82.52847%, rgba(0, 0, 0, 0) 82.52847%, rgba(0, 0, 0, 0) 87.35763%, #e6f6ff 87.35763%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #e6f6ff 0, #e6f6ff 12.64237%, rgba(0, 0, 0, 0) 12.64237%, rgba(0, 0, 0, 0) 17.47153%, #e6f6ff 17.47153%, #e6f6ff 30.11389%, rgba(0, 0, 0, 0) 30.11389%, rgba(0, 0, 0, 0) 34.94305%, #e6f6ff 34.94305%, #e6f6ff 47.58542%, rgba(0, 0, 0, 0) 47.58542%, rgba(0, 0, 0, 0) 52.41458%, #e6f6ff 52.41458%, #e6f6ff 65.05695%, rgba(0, 0, 0, 0) 65.05695%, rgba(0, 0, 0, 0) 69.88611%, #e6f6ff 69.88611%, #e6f6ff 82.52847%, rgba(0, 0, 0, 0) 82.52847%, rgba(0, 0, 0, 0) 87.35763%, #e6f6ff 87.35763%, #e6f6ff 100.0%, rgba(0, 0, 0, 0) 100.0%); } }

/* line 5, ../_sass/_typography.scss */
body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

/* line 12, ../_sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

/* line 21, ../_sass/_reset.scss */
html, body {
  font-size: 100%; }

/* line 26, ../_sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 31, ../_sass/_reset.scss */
audio, canvas, video {
  display: inline-block; }

/* line 36, ../_sass/_reset.scss */
audio:not([controls]) {
  display: none; }

/* line 41, ../_sass/_reset.scss */
[hidden] {
  display: none; }

/* line 47, ../_sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 54, ../_sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif; }

/* line 60, ../_sass/_reset.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
/* line 69, ../_sass/_reset.scss */
a:hover, a:active {
  outline: 0; }

/* line 75, ../_sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 80, ../_sass/_reset.scss */
b, strong {
  font-weight: bold; }

/* line 84, ../_sass/_reset.scss */
blockquote {
  margin: 1em 40px; }

/* line 89, ../_sass/_reset.scss */
dfn {
  font-style: italic; }

/* line 94, ../_sass/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 101, ../_sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

/* line 108, ../_sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 115, ../_sass/_reset.scss */
blockquote, q {
  quotes: none; }
  /* line 117, ../_sass/_reset.scss */
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

/* line 123, ../_sass/_reset.scss */
small {
  font-size: 75%; }

/* line 127, ../_sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 134, ../_sass/_reset.scss */
sup {
  top: -0.5em; }

/* line 138, ../_sass/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 143, ../_sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* line 150, ../_sass/_reset.scss */
img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

/* line 158, ../_sass/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 163, ../_sass/_reset.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 169, ../_sass/_reset.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal; }

/* line 175, ../_sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

/* line 182, ../_sass/_reset.scss */
button, input {
  line-height: normal; }

/* line 186, ../_sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 192, ../_sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 196, ../_sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 201, ../_sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 209, ../_sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 215, ../_sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 220, ../_sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 226, ../_sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 15, ../_sass/mobile-example.scss */
body {
  color: #072f44;
  line-height: 1.618em;
  text-align: center; }

/* line 21, ../_sass/mobile-example.scss */
h3 {
  margin: 1em; }

/* line 25, ../_sass/mobile-example.scss */
pre {
  line-height: 1.6em; }

/* line 29, ../_sass/mobile-example.scss */
header {
  background-color: #298ec3;
  *zoom: 1;
  padding: 0.5em 1em;
  text-align: center; }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  header:before, header:after {
    content: " ";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  header:after {
    clear: both; }
  /* line 35, ../_sass/mobile-example.scss */
  header h1 {
    color: #fff;
    font-weight: normal;
    line-height: 1.618em;
    display: inline;
    font-family: "helvetica Neue", "Helvetica", sans-serif;
    font-weight: 100; }

/* line 45, ../_sass/mobile-example.scss */
section {
  background-color: #d5eefb;
  text-align: center;
  line-height: 2.427em; }
  /* line 50, ../_sass/mobile-example.scss */
  section div {
    background-color: #aadbf5;
    font-size: 0.8em;
    margin-bottom: 2em; }
  /* line 58, ../_sass/mobile-example.scss */
  section.first div#gamma aside, section.first div#gamma article {
    background-color: #FFF; }
  /* line 66, ../_sass/mobile-example.scss */
  section.second div#beta aside, section.second div#beta article {
    background-color: #41a8df; }
  /* line 70, ../_sass/mobile-example.scss */
  section.second div#beta aside {
    border-bottom: 1px solid #298ec3; }
  /* line 77, ../_sass/mobile-example.scss */
  section.third div#dummy {
    background-color: #aadbf5;
    margin-bottom: 0; }
  /* line 83, ../_sass/mobile-example.scss */
  section.third div#alpha aside {
    background-color: #41a8df;
    border-bottom: 1px solid #298ec3; }
  /* line 88, ../_sass/mobile-example.scss */
  section.third div#alpha article {
    background-color: #41a8df; }
  /* line 96, ../_sass/mobile-example.scss */
  section.sixth > pre {
    padding: 10px 0; }
  @media screen and (max-width: 500px) {
    /* line 94, ../_sass/mobile-example.scss */
    section.sixth {
      font-size: 0.9em;
      line-height: 1.5em; } }
  /* line 105, ../_sass/mobile-example.scss */
  section.sixth div {
    line-height: 2em;
    min-height: 20em;
    text-align: left;
    padding: 1em; }
  /* line 112, ../_sass/mobile-example.scss */
  section.sixth div#alpha {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.sixth div#alpha:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      /* line 112, ../_sass/mobile-example.scss */
      section.sixth div#alpha {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 47.58542%; }
        /* line 76, ../_sass/neat/grid/_grid.scss */
        section.sixth div#alpha:last-child {
          margin-right: 0; } }
  /* line 120, ../_sass/mobile-example.scss */
  section.sixth div#beta {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    /* line 76, ../_sass/neat/grid/_grid.scss */
    section.sixth div#beta:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      /* line 120, ../_sass/mobile-example.scss */
      section.sixth div#beta {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 47.58542%; }
        /* line 76, ../_sass/neat/grid/_grid.scss */
        section.sixth div#beta:last-child {
          margin-right: 0; } }

/* line 130, ../_sass/mobile-example.scss */
div.code {
  background-color: #d5eefb;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

/* line 137, ../_sass/mobile-example.scss */
footer {
  padding: 2em;
  display: block;
  clear: both; }
  /* line 142, ../_sass/mobile-example.scss */
  footer a.back-button {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    background-color: #298ec3; }
    /* line 148, ../_sass/mobile-example.scss */
    footer a.back-button:hover {
      background-color: #072f44; }
