* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

html, body {
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1.618em;
  text-align: center; }

h3 {
  margin: 1em; }

pre {
  line-height: 1.6em; }

header {
  background-color: #000;
  zoom: 1;
  padding: 0.5em 1em;
  text-align: center; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  header h1 {
    color: #fff;
    font-weight: normal;
    line-height: 1.618em;
    display: inline;
    font-family: "helvetica Neue", "Helvetica", sans-serif;
    font-weight: 100; }

section {
  background-color: #eee;
  text-align: center;
  line-height: 3.236em; }
  section div {
    border-bottom: 1px solid #bbb;
    background-color: #ddd;
    font-size: 0.8em; }
  section.first div#gamma aside, section.first div#gamma article {
    background-color: #FFF; }
  section.second div#beta aside, section.second div#beta article {
    background-color: #FFF; }
  section.third div#dummy {
    background-color: #ddd; }
  section.third div#alpha aside {
    background-color: #eee; }
  section.third div#alpha article {
    background-color: #FFF; }
  @media screen and (max-width: 500px) {
    section.sixth {
      font-size: 0.9em;
      line-height: 1.5em; } }
  section.sixth div {
    line-height: 2em;
    min-height: 20em;
    text-align: left;
    padding: 1em; }
  section.sixth div#alpha {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.sixth div#alpha:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      section.sixth div#alpha {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 47.58542%; }
        section.sixth div#alpha:last-child {
          margin-right: 0; } }
  section.sixth div#beta {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    section.sixth div#beta:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      section.sixth div#beta {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 47.58542%; }
        section.sixth div#beta:last-child {
          margin-right: 0; } }

div.code {
  background-color: #eee;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em; }

footer {
  padding: 2em;
  display: block;
  clear: both; }
  footer a.back-button {
    text-decoration: none;
    color: #555;
    padding: 0.5em 1em;
    background-color: #eee; }
    footer a.back-button:hover {
      background-color: #ddd; }
