* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

html, body {
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  margin-bottom: 1em; }

h1, h2, h3, h4 {
  margin-bottom: 0.8em; }

a {
  text-decoration: none;
  color: #6DBCE6; }

header {
  background-color: #6DBCE6;
  background-image: url(../images/tiny-grid.png);
  background-size: 26px 26px; }
  header div.header-content div.logo {
    padding: 1.618em;
    color: #41a8df;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left; }
    header div.header-content div.logo div#name {
      display: inline-block;
      margin-left: 0.5em;
      font-size: 0.85em; }
      @media (min-width: 22em) {
        header div.header-content div.logo div#name {
          font-size: 1em; } }
      header div.header-content div.logo div#name h1 {
        font-size: 4.2358em;
        line-height: 1.1em;
        margin-bottom: 0;
        text-transform: uppercase;
        text-rendering: optimizelegibility; }
      header div.header-content div.logo div#name h2 {
        color: #D95D5D;
        font-family: "Helvetica Neue", "Helvetica", sans-serif;
        font-size: 2.61792em;
        font-weight: 100;
        margin-bottom: 0;
        padding-left: 0.1em; }

section.description div {
  padding: 2em;
  color: #555; }
  section.description div#developers {
    border-bottom: 1px solid #eee; }
  section.description div aside {
    display: none; }
  section.description div h2 {
    color: #555;
    margin-bottom: 0.5em; }
  section.description div p {
    line-height: 1.618em; }

section.instructions section {
  margin-top: 1em;
  border-top: 1px solid #eee; }
  section.instructions section#what {
    margin-top: -1em; }
  section.instructions section aside {
    background-color: #eee;
    padding: 0.8em 1em 0.1em; }
    section.instructions section aside h3 {
      font-family: 'Helvetica Neue', 'helvetica', sans-serif;
      font-weight: 200;
      color: #888; }
  section.instructions section article {
    padding: 1em;
    color: #555; }

footer {
  border-top: 1px solid #eee;
  color: #ccc;
  padding: 2em;
  text-align: center; }
