@import 'setup';

$tablet: new-breakpoint(max-width 768px 12);

.responsive-element {
  @include media($tablet) {
    color: #000;
  }
}

#visual-grid-breakpoints {
  value: $visual-grid-breakpoints
}
