@import 'setup';

.omega-default {
  @include omega;
}

.omega-nth-default {
  @include omega(4n)
}

.omega-complex-nth {
  @include omega("4n+1");
}

section {
  @include row($direction: RTL);

  .omega-default-left {
    @include omega;
  }

  .omega-nth-default-left {
    @include omega(4n block);
  }
}
