@import 'setup';

.omega-default {
  @include omega;
  color: #000;
}

.omega-table {
  @include omega(table);
}

.omega-block-left {
  @include omega(block, left);
  color: #000;
}

.omega-table-left{
  @include omega(table, left);
}

.omega-nth-default {
  @include omega(4n)
}

.omega-nth-table {
  @include omega(4n table);
}

.omega-nth-default-left {
  @include omega(4n block, left);
}

.omega-nth-table-left {
  @include omega(4n table, left);
}

.op {
  
}
