@import 'setup';

.span-columns-default {
  @include span-columns(6);

  .span-columns-nested {
    @include span-columns(2 of 6);
  }
}

.span-columns-table {
  @include span-columns(2, table);
}

.span-columns-collapse {
  @include span-columns(6, block-collapse);
}
