// Calculates the width of a column for grid-column() and other mixins

@function grid-calc(
    $columns,
    $collapse: false
  ) {
  $_column-ratio: grid-column-ratio($columns);
  $_gutter: grid-settings(gutter);

  @if $collapse {
    $_gutter-affordance: (-$_gutter) + ($_gutter * $_column-ratio);
    @return unquote("#{percentage($_column-ratio)} - #{$_gutter-affordance}");
  } @else {
    $_gutter-affordance: $_gutter + ($_gutter * $_column-ratio);
    @return unquote("#{percentage($_column-ratio)} - #{$_gutter-affordance}");
  }
}
