---
layout: docs
title: Neat Documentation
permalink: /docs/
meta_keywords: Neat, documentation, grid, responsive, fluid, layout, sass, scss, library, framework, syntactically awesome stylesheets, css, web design, web development, thoughtbot, open source
meta_description: Read the Neat Docs for mixins, functions, and variables
---

<div class="main-content">
  {% include docs/navigation.html %}

  <div class="main-inner">
    <section class="intro-wrapper">
      <article>
        <a href="/"><h1 class="logo">Neat</h1></a>
      </article>
    </section>

    <h1 id="mixins">Mixins</h1>
    {% include docs/mixins.html %}

    <h1 id="functions">Functions</h1>
    {% include docs/functions.html %}

    <h1 id="variables">Variables</h1>
    {% include docs/variables.html %}

    <h1 id="footer"></h1>
    <section class="footer">
      {% include docs/footer.html %}
    </section>
  </div>
</div>
