---
layout: default
---

<section class="subtitle">
  <h2>A <strong>lightweight</strong> semantic <strong>grid</strong> framework built with <strong>Sass</strong>.</h2>
</section>


<section class="code">
{% highlight html %}
<!-- HTML markup for the section right below this code block -->
<section>
  <header>What is it about?</header>
  <section>Neat is an open source semantic grid framework built with Sass…</section>
</section>
{% endhighlight %}
<br>
{% highlight scss %}
// Enter Neat
section {
  @include outer-container;
  header { @include span-columns(3); }
  section { @include span-columns(9); }
}
// And the result is...

{% endhighlight %}
</section>

<section class="instructions">
  <section id="what">
    <header>
      <h3>What is it about?</h3>
    </header>

    <section>
    {% include what.html %}
    </section>
  </section>

  <section id="why">
    <header>
      <h3>Why another grid framework?</h3>
    </header>

    <section>
    {% include why.html %}
    </section>
  </section>

  <section id="responsive">
    <header>
      <h3>Is it responsive?</h3>
    </header>

    <section>
    {% include responsive.html %}
    </section>
  </section>

  <section id="getting-started">
    <header>
    <h3>Alright. How do I get started?</h3>
    </header>

    <section>
      {% include getting-started.html %}
    </section>
  </section>

  <section id="support">
    <header>
    <h3>Feedback?</h3>
    </header>

    <section>
      {% include support.html %}
    </section>
  </section>

</section>

<footer>© 2012 – {{ site.time | date: '%Y' }} thoughtbot, inc.</footer>
