@charset "UTF-8";
/// Neat’s default grid.
///
/// @type map
///
/// @property {number (unitless)} columns [12]
///   Deefault number of grid columns.
///
/// @property {number (with unit)} gutter [20px]
///   Default grid gutter width.
///
/// @access private

$_neat-grid-defaults: (
  columns: 12,
  gutter: 20px,
);

/// This variable is a sass map that overrides Neat's default grid settings.
/// Use this to define your project's grid properties incluting gutters, and
/// total column count.
///
/// @type map
///
/// @property {number (unitless)} columns [12]
///   Number of grid columns.
///
/// @property {number (with unit)} gutter [20px]
///   Grid gutter width.
///
/// @example scss
///   $neat-grid: (
///     columns: 12,
///     gutter: 20px,
///   );

$neat-grid: () !default;
