@charset "UTF-8";
/// Neat’s default grid.
///
/// @type map
///
/// @property {number (unitless)} columns [12]
///   Number of grid columns.
///
/// @property {number (with unit)} gutter [20px]
///   Grid gutter width.
///
/// @access private

$_neat-grid-defaults: (
  columns: 12,
  gutter: 20px
);

/// User overrides of Bourbon configuration settings.
///
/// @type map
///
/// @property {number (unitless)} columns [12]
///   Number of grid columns.
///
/// @property {number (with unit)} gutter [20px]
///   Grid gutter width.

$neat-grid: () !default;
