$column: golden-ratio(1em, 3) !default;
$gutter: golden-ratio(1em, 1) !default;
$max-columns: 12 !default;
$max-width: golden-ratio(1em, 9) !default;
$border-box-sizing: true !default; // Makes all elements have border-box layout

