$visual-grid: false !default; // Display the base grid
$visual-grid-color: #81A2BD !default;
$visual-grid-index: back !default; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: 0.2 !default;
