$box-color: $color-neat-blue;
$box-color--alt: $color-neat-orange;
$box-height: 30px;

.box {
  background-color: $box-color;
  height: $box-height;
  margin-bottom: 10px;
}

.box--alt {
  border: 2px solid $box-color--alt;
}

.box--taller {
  height: 60px;
}

.box--no-space {
  margin-bottom: 0;
}
