*,
*::before,
*::after {
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Avenir Next",
    "Avenir",
    "Segoe UI",
    "Lucida Grande",
    "Helvetica Neue",
    "Helvetica",
    "Fira Sans",
    "Roboto",
    "Noto",
    "Droid Sans",
    "Cantarell",
    "Oxygen",
    "Ubuntu",
    "Franklin Gothic Medium",
    "Century Gothic",
    "Liberation Sans",
     sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}
