.grid {
  @include grid-container;
}

.grid__column {
  @include grid-column;
}

.grid__column--thirds {
  @include grid-column(4);
}

.grid__column--full {
  @include grid-column(12);
}

.grid__column--3-of-5 {
  @include grid-column(3 of 5);
}

.grid__column--2-of-5 {
  @include grid-column(2 of 5);
}
