// Push columns away from their container.

@mixin grid-push($push: false) {
  @include grid-is-zero-error(grid-push, $push);
  @if $push {
    $_gutter-affordance: grid-settings(gutter) * $push;
    $_margin-value: calc(#{unquote(grid-calc($push))} + #{$_gutter-affordance});
    margin-#{grid-settings(default-float)}: $_margin-value;
  } @else {
    $_margin-value: grid-settings(gutter);
    margin-#{grid-settings(default-float)}: $_margin-value;
  }
}
