@import "../app/assets/stylesheets/neat-helpers";

// Overrides Neat's default
$max-width: em(1024);

// Breakpoints
$mobile: new-breakpoint(max-width 500px 4);

$visual-grid-color: lighten(#FFF0E8, 3%);
