@import "bourbon/bourbon";
@import "variables";
@import "../neat";

header {
  div.header-content {
    @include outer-container;

    div.logo {
        @include span-columns(6);
        padding: golden-ratio(1em, 2);
      h1 {
        @media(min-width: 64em) {
          font-size: golden-ratio(1em, 3);
        }
      }
    }
  }
}

section.description {
  @include outer-container;

  div {
    @include span-columns(6);
    padding: 2em 1.5em;
    @media(min-width: 74em) {
      padding: 2em 0;
    }

    &#developers {
      border-bottom: 0;
    }
  }
}

section.instructions {
  @include outer-container;

  aside {
    @include span-columns(3, 12, table);
  }

  article {
    @include span-columns(9, 12, table);
    padding: 1.5em;
  }
}
