@import "bourbon/bourbon";
@import "variables";
@import "neat/neat";
@import "typography";
@import "reset";
@import "pygments";

p {
  margin-bottom: 1em;
}

h1, h2, h3, h4 {
  margin-bottom: 0.8em;
}

a {
  text-decoration: none;
  color: #6DBCE6;
}

header {
  @include outer-container;
  $visual-grid-color: #FFF0E8;
  @include grid-column-gradient(gradient-stops(4));

  div.header-content {
    div.logo {
      padding: golden-ratio(1em, 1);
      color: darken(#6DBCE6, 10%);
      background-color: rgba(255,255,255, 0.7);
      text-align: left;

      div#name {
        display: inline-block;
        margin-left: 0.5em;
        font-size: 0.85em;

         @media(min-width: 22em) {
           font-size: 1em;
        }


        h1 {
          font-size: golden-ratio(1em, 3);
          line-height: 1.1em;
          margin-bottom: 0;
          text-transform: uppercase;
          text-rendering: optimizelegibility;
          position: relative;
        }

        h2 {
          color: #D95D5D;
          font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-size: golden-ratio(1em, 2);
          font-weight: 100;
          margin-bottom: 0;
          padding-left: 0.1em;
        }
      }
    }
  }
}

section.code {
  background-color: #FDF6E3;
  padding: 5%;

  div.highlight {
    background-color: transparent;

    pre {
      @include outer-container;
      font-size: 0.8em;
    }
  }
}



section.instructions {

  section {
    margin-top: 1em;
    border-top: 1px solid #eee;

    &#what {
      margin-top: 0em;
      border-top: none;

      aside, article {
        padding-top: 2em;
      }
    }

    aside {
      padding: 0.8em 1em 0.1em;

      h3 {
        color: darken(#FFF0E8, 50%);
        font-family: 'Helvetica Neue', 'helvetica', sans-serif;
        font-weight: 200;
        margin-bottom: 0;
      }
    }

    article {
      padding: 1em;
      color: #555;
    }
  }
}

footer {
  border-top: 1px solid #eee;
  color: #ccc;
  padding: 2em;
  text-align: center;
}
