@import "bourbon/bourbon";
@import "variables";
@import "../app/assets/stylesheets/neat";
@import "typography";
@import "reset";
@import "pygments";

p {
  margin-bottom: 1em;
}

h1, h2, h3, h4 {
  margin-bottom: 0.8em;
}

a {
  text-decoration: none;
  color: #6DBCE6;

}

header {
  @include outer-container;
  $visual-grid-color: #FFF0E8;
  @include grid-column-gradient(gradient-stops(4));

  div.header-content {
    div.logo {
      padding: golden-ratio(1em, 1);
      color: darken(#6DBCE6, 10%);
      background-color: rgba(255,255,255, 0.8);
      text-align: left;

      a > img {
        width: 286px;
      }
    }

    nav.buttons {
      padding: 1.5rem 0;
      @include row;

      a {
        &.button {
          border-radius: 5px;
          box-shadow: inset 0px 1px rgba(255,255,255,.4);
          padding: 15px 0;
          font-size: .875rem;
          font-weight: 200;
          letter-spacing: 2px;
          text-align: center;
          text-transform: uppercase;
          @include span-columns(2 of 4);
          @include shift(1);

          &:hover {
            text-decoration: none;
          }

          &:active {
            box-shadow: inset 0 0 10px rgba(0,0,0,.2);
            @include transition(.25s);
          }

          &.examples {
            @include linear-gradient(#53aee0, darken(#53aee0, 10%));
            border: 1px solid darken(#53aee0, 30%);
            color: #FFF;
            text-shadow: 0px -1px darken(#53aee0, 30%);
            margin-bottom: 10px;

            &:hover {
              @include linear-gradient(lighten(#53aee0, 5%), darken(#53aee0, 5%));
            }
          }

          &.docs {
            @include linear-gradient(lighten(#f66042, 15%), #f66042);
            border: 1px solid darken(#f66042, 20%);
            color: #FFF;
            text-shadow: 0px -1px darken(#f66042, 30%);

            &:hover {
              @include linear-gradient(lighten(#f66042, 17%), lighten(#f66042, 5%));
            }
          }
        }

      }
    }
  }
}

section.subtitle {
  @include linear-gradient(#53aee0, darken(#53aee0, 5%));
  display: block;
  text-align: center;

  h2 {
    color: white;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2em;
    margin:0 auto 0;
    max-width: 980px;
    padding: 50px 0;
    text-align: center;
    text-shadow: 0px 2px 2px darken(#53aee0, 25%);

    strong {
      font-weight: 500;
    }

    @include media(max-width 768px) {
      font-size: 2rem;
      line-height: 1.4em;
      padding: 20px;
    }
  }
}

section.code {
  background-color: #FDF6E3;
  padding: 5%;

  div.highlight {
    background-color: transparent;

    pre {
      @include outer-container;
      font-size: 0.8em;
    }
  }
}

section.instructions {

  section {
    margin-top: 1em;
    border-top: 1px solid #eee;

    &#what {
      margin-top: 0em;
      border-top: none;

      aside, article {
        padding-top: 2em;
      }
    }

    aside {
      padding: 0.8em 1em 0.1em;

      h3 {
        color: darken(#FFF0E8, 50%);
        font-family: 'Helvetica Neue', 'helvetica', sans-serif;
        font-weight: 200;
        margin-bottom: 0;
      }
    }

    article {
      padding: 1em;
      color: #555;
    }
  }
}

footer {
  border-top: 1px solid #eee;
  color: #ccc;
  padding: 2em;
  text-align: center;
}
