* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

h1 {
  font-size: 4.236em;
  line-height: 3.236em;
  margin: 1.618em 0; }
