* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

header div.header-content {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  header div.header-content:before, header div.header-content:after {
    content: "";
    display: table; }
  header div.header-content:after {
    clear: both; }
  header div.header-content div.logo {
    width: 48.82117%;
    display: block;
    float: left;
    margin-right: 2.35765%;
    text-align: left;
    padding: 2.61792em; }
    header div.header-content div.logo:last-child {
      margin-right: 0; }
    @media (min-width: 64em) {
      header div.header-content div.logo h1 {
        font-size: 4.2358em; } }

section.description {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  section.description:before, section.description:after {
    content: "";
    display: table; }
  section.description:after {
    clear: both; }
  section.description div {
    width: 48.82117%;
    display: block;
    float: left;
    margin-right: 2.35765%;
    padding: 2em 1.5em; }
    section.description div:last-child {
      margin-right: 0; }
    @media (min-width: 74em) {
      section.description div {
        padding: 2em 0; } }
    section.description div#developers {
      border-bottom: 0; }

section.instructions {
  zoom: 1;
  max-width: 64em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  section.instructions:before, section.instructions:after {
    content: "";
    display: table; }
  section.instructions:after {
    clear: both; }
  section.instructions aside {
    width: 23.23176%;
    display: table-cell;
    padding-right: 2.35765%; }
    section.instructions aside:last-child {
      padding-right: 0; }
  section.instructions article {
    width: 74.41059%;
    display: table-cell;
    padding-right: 2.35765%;
    padding: 1.5em; }
    section.instructions article:last-child {
      padding-right: 0; }
