@charset "UTF-8";
/// Creates Neat a grid column of requested size.
///
/// @argument {number (unitless)} $columns [1]
///
/// @argument {map} $grid [$neat-default-grid]
///   The grid used to generate the column.
///
/// @example scss
///   .element {
///     @include grid-column(3);
///   }
///
/// @example css
///   .element {
///     width: calc(25% - 25px);
///     float: left;
///     margin-left: 20px;
///   }

@mixin grid-column($columns: 1, $grid: $neat-default-grid) {
  $_grid-columns: map-get($grid, columns);
  $_grid-gutter: map-get($grid, gutter);
  $_style: map-get($grid, style);

  $_column-ratio: $columns / $_grid-columns;

  @if ($_style == floated) {
    @include _grid-column--floated($columns, $_grid-columns, $_grid-gutter);
  }

  @if ($_style == flex) {
    @include _grid-column--flex($columns, $_grid-columns, $_grid-gutter);
  }
}
