@mixin _grid-column--floated($_width, $_columns, $_gutter) {
  $_column-ratio: $_width / $_columns;

  @if $_gutter > 0 {
    $_gutter-affordance: $_gutter + ($_gutter * $_column-ratio);
    $_column-width-calc: unquote("#{percentage($_column-ratio)} - #{$_gutter-affordance}");

    width: calc(#{$_column-width-calc});
  } @else {
    width: percentage($_column-ratio);
  }

  float: left;
  margin-left: $_gutter;
}
