@charset "UTF-8";
/// Push or pull a Neat grid column.
///
/// @argument {number (unitless)} $push [1]
///
/// @argument {map} $grid [$neat-default-grid]
///   The grid to be used to generate the column. By default, the global
///   `$neat-default-grid` will be used.
///
/// @example scss
///   .element {
///     @include grid-push(3);
///   }
///
/// @example css
///   .element {
///     margin-left: calc((100% - (260px)) * 0.25 + 80px);
///   }

@mixin grid-push($push: false, $grid: $neat-default-grid) {
  $_grid-columns: map-get($grid, columns);
  $_grid-gutter: map-get($grid, gutter);

  @if $push {
    $_push-column-ratio: $push / $_grid-columns;
    $_total-gutters: ($_grid-columns + 1) * $_grid-gutter;
    $_gutter-affordance: $_grid-gutter * ($push + 1);
    $_total-columns: "(100% - #{$_total-gutters})";
    $_margin-value: calc(#{unquote($_total-columns)} * #{$_push-column-ratio} + #{$_gutter-affordance};

    margin-left: $_margin-value;
  } @else {
    margin-left: $_grid-gutter;
  }
}
