@charset "UTF-8";
/// Creates Neat a grid column of requested size.
///
/// @argument {number (unitless)} $columns [1]
///
/// @argument {map} $grid [$neat-grid]
///   The grid used to generate the column.
///
/// @example scss
///   .element {
///     @include grid-column(3);
///   }
///
/// @example css
///   .element {
///     width: calc(25% - 25px);
///     float: left;
///     margin-left: 20px;
///   }

@mixin grid-column($columns: 1, $grid: $neat-grid) {
  $_grid-columns: _retrieve-neat-setting($grid, columns);
  $_grid-gutter: _retrieve-neat-setting($grid, gutter);

  $_column-ratio: $columns / $_grid-columns;

  @if $_grid-gutter > 0 {

    width: calc(#{grid-calc($grid, $columns)});
  } @else {
    width: percentage($_column-ratio);
  }

  float: left;
  margin-left: $_grid-gutter;
}
