$fg-column: golden-ratio(1em, 4);
$fg-gutter: golden-ratio(1em, 1.5);
$fg-max-columns: 12;
$fg-max-width: golden-ratio(1em, 88);

$body-font-size: 1em;
$body-line-height: golden-ratio(1em, 1);


$border-box-sizing: true;

@if $border-box-sizing == true {
  * {
    @include box-sizing(border-box);
  }
}
