@import "setup";

$six-grid: (
  columns: 6,
  gutter: 1em,
);

$seventeen-grid: (
  columns: 17,
  gutter: 10px,
);

.grid-collapse-1-of-default {
  @include grid-collapse(1);
}

.grid-collapse-6-of-default {
  @include grid-collapse(6);
}

.grid-collapse-12-of-default {
  @include grid-collapse(12);
}

.grid-collapse-1-of-6 {
  @include grid-collapse(1, $six-grid);
}

.grid-collapse-4-of-6 {
  @include grid-collapse(4, $six-grid);
}

.grid-collapse-6-of-6 {
  @include grid-collapse(6, $six-grid);
}

.grid-collapse-5-of-17 {
  @include grid-collapse(1, $seventeen-grid);
}

.grid-collapse-11-of-17 {
  @include grid-collapse(6, $seventeen-grid);
}

.grid-collapse-13-of-17 {
  @include grid-collapse(12, $seventeen-grid);
}
