@if $border-box-sizing == true {
  * {
    @include box-sizing(border-box);
  }
}

$fg-column: $column;
$fg-gutter: $gutter;
$fg-max-columns: $max-columns;
$fg-max-width: $max-width;

// outer wrapper center container
@mixin outer-container() {
  @include clearfix;
  max-width: $fg-max-width;
  text-align: left;
  margin: {
    left: auto;
    right: auto;
  }
}

// Grid span columns
@mixin span-columns($columns, $container-columns: $fg-max-columns, $display: block) {
  width: flex-grid($columns, $container-columns);

  @if $display == table {
    display: table-cell;
    padding-right: flex-gutter($container-columns);

    &:last-child {
      padding-right: 0;
    }
  }

  @else if $display == inline-block {
    @include inline-block;
    margin-right: flex-gutter($container-columns);

    &:last-child {
      margin-right: 0;
    }
  }

  @else {
    display: block;
    float: left;
    margin-right: flex-gutter($container-columns);

    &:last-child {
      margin-right: 0;
    }
  }
}

// Clearfix / row container
@mixin row($display: block) {
  @extend .clearfix;
  @if $display == table {
    display: table;
  }

  @else {
    display: block;
  }
}

// pre, post & pad
@mixin pre($push: 1, $display: block) {
  @if $display == table {
    padding-left: $push;
  }

  @else {
    margin-left: $push;
  }
}

@mixin post($push: 1) {
  @if $display == table {
    padding-left: $push;
  }

  @else {
    margin-left: $push;
  }
}

@mixin pad($padding: flex-gutter(), $display: block) {
  padding: $padding;
}

// Remove element gutter
@mixin omega($display: block, $direction: right) {
  @if $display == table {
    padding-#{$direction}: 0;
  }

  @else {
    margin-#{$direction}: 0;
  }
}

@mixin nth-omega($nth, $display: block, $direction: right) {
  @if $display == table {
    &:nth-child(#{$nth}) {
      padding-#{$direction}: 0;
    }
  }

  @else {
    &:nth-child(#{$nth}) {
      margin-#{$direction}: 0;
    }
  }
}

// Fill 100% of parent
@mixin fill-parent() {
  width: 100%;

  @if $border-box-sizing == false {
    @include box-sizing(border-box);
  }
}
