/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right)
 *   Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss - Usage
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css - CSS Output
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
@mixin direction($direction: left-to-right) {
  $scope-direction: $layout-direction;

  @if $direction == left-to-right {
    $layout-direction: LTR !global;
  } @else if $direction == right-to-left {
    $layout-direction: RTL !global;
  }

  @content;

  $layout-direction: $scope-direction !global;
}
