@mixin display($display: block) {
  $scope-display: $container-display-table;

  @if $display == table {
    $container-display-table: true !global;
  } @else {
    $container-display-table: false !global;
  }

  @content;

  $container-display-table: $scope-display !global;
}
