@mixin pad($padding: default) {
  $padding-list: null;
  @each $value in $padding {
    @if $value == 'default' {
      @if $fixed-grid {
        $value: $gutter;
      } @else {
        $value: flex-gutter();
      }
    }
    $padding-list: join($padding-list, $value);
  }
  padding: $padding-list;
}
