@mixin row($display: default, $direction: $default-layout-direction) {
  $layout-direction: $direction !global;

  @if $display != default {
    @warn "The $display argument will be deprecated in future versions in favor of the display(){...} mixin."
  }

  @if $display == table {
    display: table;
    @include fill-parent;
    table-layout: fixed;
    $container-display-table: true !global;
  }

  @else {
    @include clearfix;
    display: block;
    $container-display-table: false !global;
  }
}

