<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Bourbon Neat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="css/desktop.css" media="(min-width:40em)">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

  </head>

  <body>
    <header>
    <div class="header-content">
      <div class="logo">
        <img src="images/logo.svg" alt="" />
        <div id="name">
          <h2>Bourbon</h2>
          <h1>Neat</h1>
        </div>
      </div>
    </div>
    </header>
    {{ content }}
  </body>

</html>
