<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Muller-Brockman</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="stylesheets/example/mobile.css">
    <link rel="stylesheet" href="stylesheets/example/desktop.css" media="(min-width:320px)">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" href="/css/ie.css">
    <![endif]-->

  </head>

  <body>
    <header>
      <div class="header-content">
        <h1>Muller Brockman</h1>
      </div>
    </header>

    {{ content }}
  </body>

</html>
