<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Bourbon Neat Examples</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="../css/mobile-example.css">
    <link rel="stylesheet" href="../css/desktop-example.css" media="(min-width:50em)">

    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" href="../css/ie-example.css">
    <![endif]-->

  </head>

  <body>
    {{ content }}
  </body>

</html>
