@if $border-box-sizing == true {
  * {
    @include box-sizing(border-box);
  }
}

$fg-column: $column;
$fg-gutter: $gutter;
$fg-max-columns: $max-columns;

// outer wrapper center container
@mixin outer-container() {
  @include clearfix;
  max-width: $fg-max-width;
  text-align: left;
  margin: {
    left: auto;
    right: auto;
  }
}

// Grid span columns
@mixin span-columns($columns, $container-columns: $fg-max-columns, $display: block) {
  $width: flex-grid($columns, $container-columns);
  width: $width / $container-width;

  @if $display == table {
    display: table-cell;
    padding-right: flex-gutter();
  }

  @if $display == inline-block {
    @include inline-block;
    margin-right: flex-gutter();
  }

  @else {
    display: block;
    float: left;
    margin-right: flex-gutter();
  }
}

// Clearfix / row container
@mixin row($display: block) {
  @extend .clearfix;
  @if $display == table {
    display: table;
  }

  @else {
    display: block;
  }
}

// Push & Pull
@mixin push($push: 1, $display: block) {
  @if $display == table {
    padding-left: $push;
  }

  @else {
    margin-left: $push;
  }
}

@mixin push($push: 1) {
  @if $display == table {
    padding-left: $push;
  }

  @else {
    margin-left: $push;
  }
}

// Remove element gutter
@mixin last($display: block, $direction: right) {
  @if $display == table {
    padding-#{$direction}: 0;
  }

  @else {
    margin-#{$direction}: 0;
  }
}

@mixin nth-last($nth, $display: block, $direction: right) {
  @if $display == table {
    &:nth-child(#{$nth}) {
      padding-#{$direction}: 0;
    }
  }

  @else {
    &:nth-child(#{$nth}) {
      margin-#{$direction}: 0;
    }
  }
}

@mixin fill-parent() {
  width: 100%;
  @include box-sizing(border-box);
}
