html, body {
  background-color: $background-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  &.site {
    overflow: hidden;
  }

  &.docset {
    width: 100%;
  }
}

html {
  padding: 0;
}

h1 {
  font-weight: 600;
  margin-top: 0;
}

h1, h2 {
  font-size: golden-ratio(14px, 1) + 4px;
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

h2 {
  font-weight: 300;
  margin-bottom: 0.5em;
  margin-top: 0;
}

p, div.highlight {
  & + h2 {
    margin-top: 2em;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

h4, h5, h6 {
  font-size: golden-ratio(13px, 0);
  margin-top: 0;
}

p {
  line-height: 1.5em;
}

a, a:link, a:active, a:visited {
  color: darken(#FFF0E8, 50%);
  text-decoration: none;
}

a:hover {
  color: darken(#FFF0E8, 70%);
}

// Wrapper for any occasion
div.wrapper {
  margin-bottom: 20px;
}

.alert {
  color: $orange;
  font-style: italic;
}
