//************************************************************************//
// Base Global Styles
//************************************************************************//

body, html {
  background: $background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 16px;
  min-width: $medium-screen;
}

div.inner-wrapper {
  padding: 20px;
}

h1, h2, h4 {
  color: $header-font-color;
  font-family: $heading-font-family;
  font-size: golden-ratio(14px, 1) + 4px;
}

h2 {
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 0;
}

h3 {
  font-size: em(28);
  font-weight: 800;

  @include media(max-width 480px) {
    font-size: 2rem;
  }
}

h4 {
  font-size: em(18);
  font-weight: 800;
  margin-bottom: 0.5em;
  margin-top: 2em;

  @include media(max-width 480px) {
    font-size: 1.25rem;
  }
}

h5 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 1em;

  @include media(max-width 480px) {
    font-size: 1.125em;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5em;
  margin: .5em 0;
}

a, a:link, a:active, a:visited {
  @include transition;
  color: $base-link-color;
  text-decoration: none;
}

a:hover {
  color: darken($base-link-color, 15%);
  text-decoration: underline;
}

i {
  text-transform: italic;
}

.container {
  @include outer-container;

  @include media(max-width $max-width) {
    padding: 0 20px;
  }
}

button {
  @include button;
}

a.button {
  border-radius: $border-radius;
  box-shadow: inset 0px 1px rgba(255,255,255,.4);
  display: block;
  float: left;
  font-size: .875rem;
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  width: $button-width;

  &:hover {
    text-decoration: none;
  }

  &:active {
    @include transition(.25s);
    box-shadow: inset 0 0 10px rgba(0,0,0,.2);
  }

  &.installation {
    @include linear-gradient(#afe4ec, #68cad8);
    border: 1px solid #40a9b8;
    color: #156571;
    text-shadow: 0px 1px #b2e4eb;

    &:hover {
      @include linear-gradient(lighten(#afe4ec, 5%), lighten(#68cad8, 5%));
    }
  }

  &.docs {
    @include linear-gradient(#afece4, #68d8ca);
    border: 1px solid #22baa8;
    color: darken(#278276, 5%);
    margin-left: 20px;
    text-shadow: 0px 1px #b0ebe4;

    &:hover {
      @include linear-gradient(lighten(#afece4, 5%), lighten(#68d8ca, 5%));
    }
  }
}
