div.main-content {
  @include outer-container;
}

div.logo-container {
  padding-top: 40px;

  a.logo {
    h1 {
      background-color: transparent;
      background-image: url(../images/logotype.svg);
      background-repeat: no-repeat;
      border: 0;
      box-shadow: none;
      display: inline-block;
      height: 94px;
      margin: 0 0 20px 0;
      padding: 0;
      text-indent: -9999px;
      width: 262px;
    }
  }
}

div.main-inner {
  h2.tagline {
    margin: 0;
  }

  h1 {
    box-shadow: 1px 0 0 $background-color, -1px 0 0 $background-color;
    color: $base-font-color-alt;
    font-size: 30px;
    font-weight: normal;
    line-height: 100%;
    margin: 00px 0 0;
    padding: 25px 0px 15px;
    text-shadow: 0 1px 0 white;
  }
}

div.docset-content {
  @extend div.main-inner;
  float: left;
  width: 100%;

  h1.logo {
    margin-bottom: 45px;
  }

  section.intro-wrapper {
    article {
      text-align: left;
    }
  }
}

section > article {
  background: white;
  border: 1px solid darken($base-border-color, 10%);
  border-bottom: 1px solid $base-border-color;
  border-top: 0;
  padding: 60px 28px;
  @include transition;
  $radii: 6px;

  &:first-child {
    border-radius: $radii $radii 0 0;
    border-top: 1px solid darken($base-border-color, 10%);
  }

  &:last-child {
    border-radius: 0 0 $radii $radii;
    border-bottom: 1px solid darken($base-border-color, 10%);
  }

  &:only-child {
    border-radius: $radii;
  }

  a.view-source {
    color: hsl(43, 13%, 75%);
    float: right;
    font-size: $base-font-size;
    margin-top: 5px;
    padding: 2px 20px;
    text-shadow: 0 1px 0 white;
    text-transform: capitalize;
    @include transition;

    &:hover {
      background-color: $background-color;
      border-radius: 20px;
      color: hsl(43, 13%, 60%);
    }
  }

  ul li {
    margin-bottom: 0.8em;

    ul {
      margin: 0.3em 0;
      padding-left: 20px;

      li {
        margin-bottom: 0.2em;
      }
    }
  }
}

section.intro-wrapper {
  article {
    background: none;
    border: 0;
    padding: 0;
  }
}

article {
  &:target {
    box-shadow: inset 4px 0 0px 0 $orange;
    @include transition(all 0.3s);

    h2 {
      font-weight: 500;
    }
  }
}
