nav.fixed-nav {
  background: rgba(255,255,255,0.9);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
  position: fixed;
  right: 20px;
  width: 200px;
  overflow-y: scroll;
  max-height: 100%;

  @include media(max-width 518px) {
    display: none;
  }

  a.logo {
    display: block;
    margin: 10px auto;
  }

  ul {
    li {
      line-height: 170%;
      list-style-type: none;

      &.title:not(:first-child) {
        margin-bottom: 5px;
        margin-top: 15px;
      }

      &.title:last-child {
        margin-bottom: 30px;
      }

      &.title.complete-list h3 {
        border-bottom: 0;
        box-shadow: none;
      }

      a {
        display: block;
        padding: 0 20px;
        position: relative;
        @include transition;

        &.active, &.inview {
          &:before {
            border-radius: 100px;
            border-top: .25em solid #ccc;
            content: '';
            display: block;
            @include position(absolute, 8px 0 0 0px);
            width: .8em;
          }
        }

        &.active {
          &:before {
            border-color: $orange;
          }
        }

        h3 {
          border-bottom: 1px solid darken($base-border-color, 10%);
          box-shadow: 0 1px 0 white;
          color: hsl(0, 0%, 30%);
          font-size: 12px;
          font-weight: bold;
          margin: 0;
          text-shadow: 0 1px 0 white;
          text-transform: uppercase;

          &:hover {
            color: hsl(0, 0%, 40%);
          }
        }
      }
    }
  }
}
