@import '../../app/assets/stylesheets/neat-helpers';

//************************************************************************//
// Variables
//************************************************************************//

$base-border-color: hsl(43, 23%, 90%);
$base-font-size: 1em;
$small-font-size: 13px;

$base-font-family: $helvetica;
$heading-font-family: "proxima-nova-soft", $helvetica;

$background-color: #FAF8F2;
$highlight-color: hsl(44, 87%, 96%);
$orange: hsl(14, 97%, 55%);
$blue: #53CAD6;
$base-link-color: $orange;

$base-font-color: #424242;
$base-font-color-alt: #8B8880;
$header-font-color: #222;

$max-width: em(1200);

$docs-nav-width: 280px;
$border-radius: 3px;

$medium-screen: 960px;
$large-screen: 1250px;
