@import '../neat/neat-helpers';

$base-border-color: hsl(43, 23%, 90%);
$base-font-size: 13px;

$background-color: #F9F8F6;
$highlight-color: hsl(44, 87%, 96%);

$orange: hsl(14, 97%, 55%);

$base-font-color-alt: #8B8880;

$max-width: em(1400);

$desktop-breakpoint: 940px;
$tablet-breakpoint: 767px;
$desktop: new-breakpoint($desktop-breakpoint);
$tablet: new-breakpoint($tablet-breakpoint);
$mobile: new-breakpoint(max-width $tablet-breakpoint - 1);
